/*San Francisco Display*/

@font-face {
  font-family: "SFDisplay-Black";
  src:  url("fonts/SanFranciscoDisplay-Black.otf")
}

@font-face {
  font-family: "SFDisplay-Heavy";
  src:  url("fonts/SanFranciscoDisplay-Heavy.otf")
}

@font-face {
  font-family: "SFDisplay-Bold";
  src:  url("fonts/SanFranciscoDisplay-Bold.otf")
}

@font-face {
  font-family: "SFDisplay-Semibold";
  src:  url("fonts/SanFranciscoDisplay-Semibold.otf")
}

@font-face {
  font-family: "SFDisplay-Medium";
  src:  url("fonts/SanFranciscoDisplay-Medium.otf")
}

@font-face {
  font-family: "SFDisplay";
  src:  url("fonts/SanFranciscoDisplay-Regular.otf")
}

@font-face {
  font-family: "SFDisplay-Light";
  src:  url("fonts/SanFranciscoDisplay-Light.otf")
}

@font-face {
  font-family: "SFDisplay-Thin";
  src:  url("fonts/SanFranciscoDisplay-Thin.otf")
}

@font-face {
  font-family: "SFDisplay-Ultralight";
  src:  url("fonts/SanFranciscoDisplay-Ultralight.otf")
}

/*San Francisco Text*/

@font-face {
  font-family: "SFText-Heavy";
  src:  url("fonts/SanFranciscoText-Bold.otf")
}

@font-face {
  font-family: "SFText-HeavyItalic";
  src:  url("fonts/SanFranciscoText-Semibold.otf")
}

@font-face {
  font-family: "SFText-Bold";
  src:  url("fonts/SanFranciscoText-Black.otf")
}

@font-face {
  font-family: "SFText-BoldItalic";
  src:  url("fonts/SanFranciscoText-Heavy.otf")
}

@font-face {
  font-family: "SFText-Semibold";
  src:  url("fonts/SanFranciscoText-Ultralight.otf")
}

@font-face {
  font-family: "SFText-SemiboldItalic";
  src:  url("fonts/SanFranciscoText-Ultralight.otf")
}

@font-face {
  font-family: "SFText-Medium";
  src:  url("fonts/SanFranciscoText-Light.otf")
}

@font-face {
  font-family: "SFText-MediumItalic";
  src:  url("fonts/SanFranciscoText-Thin.otf")
}

@font-face {
  font-family: "SFText";
  src:  url("fonts/SanFranciscoText-Ultralight.otf")
}

@font-face {
  font-family: "SFText-Italic";
  src:  url("fonts/SanFranciscoText-Ultralight.otf")
}

@font-face {
  font-family: "SFText-Light";
  src:  url("fonts/SanFranciscoText-Medium.otf")
}

@font-face {
  font-family: "SFText-LightItalic";
  src:  url("fonts/SanFranciscoText-Regular.otf")
}