html,
body {

    width: 100%;
    height: 100%;
    overflow: hidden;

}

body {

    margin: 0;
    font-family: "SFDisplay-Semibold", Helvetica, Arial, sans-serif;
    background-color: #EEEEEE;

}

.mainContainer {

    position: fixed;
    left: 50%;
    top: 12.5%;
    transform: translate(-50%, 0);
    background-color: white;
    border-radius: 25px;
    width: 75%;
    max-width: 740px;
    height: calc(75% - 125px);
    padding: 30px;

}

.connectScreen {

    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 25px;
    width: 75%;
    max-width: 740px;
    height: 75%;
    padding: 30px;

}

.mainContainerHeader,
.mainContainerSubheader {
    margin: 0 0 10px 0;
}

.mainContainerHeader {
    font-size: 250%;
}

.mainContainerSubheader {
    font-size: 175%;
}

.statusBox {

    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #EEEEEE;
    width: calc(100% - 60px);
    height: 100px;
    border-radius: 15px;

    text-align: center;
    vertical-align: middle;
    line-height: 100px;

}

.connectScreenInputArea {

    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #EEEEEE;
    width: calc(100% - 60px);
    padding: 20px;
    box-sizing: border-box;
    border-radius: 15px;

}

.controlBox {

    position: fixed;
    bottom: calc(12.5% - 30px);
    left: 50%;
    transform: translate(-50%, 0);
    background-color: white;
    width: calc(75% + 60px);
    max-width: 800px;
    height: 75px;
    border-radius: 15px;

}

.firstNameInput,
.lastNameInput {

    font-family: inherit;
    padding: 10px;
    margin: 0 20px 10px 0;
    width: 225px;
    border: 2px solid #AAAAAA;
    border-radius: 2px;
    color: black;
    font-size: 75%;
    transition: all 0.1s ease;

}

.firstNameInput:focus,
.lastNameInput:focus {

    border: 2px solid #777777;
    outline: none;
    background-color: #eeeeee
}

.connectScreenJoinButton {

    width: 100px;
    height: 35px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid white;
    box-sizing: border-box;
    transition: all 0.1s ease;

}

.connectScreenJoinButton:active {

    background-color: #eeeeee;
    color: black;
    border: 2px solid #777777;

}

.connectionInstructions {
    display: inline;
}

.copyLinkButton {

    background-color: transparent;
    margin-left: 10px;
    text-decoration: underline;
    color: dodgerblue;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    transition: all 0.1s ease;

}

.copyLinkButton:active {

    text-decoration: none;
    color: black;

}

.armButton, .jumpButton {
    
    width: 85%;
    height: 75%;
    background-color: #eeeeee;
    border: none;
    border-radius: 10px;
    font-size: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: none;
    
}
.armButton:active, .jumpButton:active {
    
    color: black;
    background-color: white;
    transition: background-color 0.1s ease;
    
}

.overlay {
    
    background-color: black;
    cursor: pointer;
    opacity: 0;
    z-index: -100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition: opacity 0.4s ease;
    
}

.aboutScreen {
    
    position: absolute;
    left: 50%;
    top: 120%;
    transform: translate(-50%, 0);
    z-index: 100;
    background-color: white;
    width: 75%;
    max-width: 900px;
    padding: 50px;
    height: 90%;
    border-radius: 35px 35px 0 0;
    display: block;
    transition: top 0.4s ease;
    
}
.aboutScreen > h1 {
    
    font-size: 300%;
    margin: 0 0 10px 0;
    
}
.aboutScreen > h2 {
    
    font-size: 150%;
    margin: 0 0 10px 0;
    
}

.closeButton {
    
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: #eeeeee;
    cursor: pointer;
    position: absolute;
    top: 50px;
    right: 45px;
    
}

.closeButton > img {
    
    width: 14px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.aboutScreenLink {
    
    position: absolute;
    bottom: 20px;
    left: 20px;
    text-decoration: none;
    cursor: pointer;
    
}
.aboutScreenLink:hover {
    
    text-decoration: underline;
    
}

.inputAreaNumberOfQuizzers {
    
    margin: 0 10px 10px 0;
    display: inline-block;
    
}
