:root {
    color-scheme: light dark;
    --primary-color: #ffffff;
    --primary-button-hover-color: #f5f5f5;
    --secondary-color: #eeeeee;
    --secondary-button-hover-color: #e1e1e1;
    --text-color: #000000;
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary-color: #2A2A2A;
        --primary-button-hover-color: #3A3A3A;
        --secondary-color: #000000;
        --secondary-button-hover-color: #1A1A1A;
        --text-color: #ffffff;
    }

    .closeButtonImageDark {
        display: block !important;
    }

    .closeButtonImage {
        display: none !important;
    }
}

html,
body {

    width: 100%;
    height: 100%;
    overflow: hidden;

}

body {

    margin: 0;
    font-family: "SFDisplay-Semibold", Helvetica, Arial, sans-serif;
    background-color: var(--secondary-color);
    color: var(--text-color);

}

.mainContainer {

    position: fixed;
    left: 50%;
    top: 12.5%;
    transform: translate(-50%, 0);
    background-color: var(--primary-color);
    border-radius: 25px;
    width: 75%;
    max-width: 740px;
    height: calc(75% - 125px);
    padding: 30px;

}

.connectScreen {

    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--primary-color);
    border-radius: 25px;
    width: 75%;
    max-width: 740px;
    height: 75%;
    padding: 30px;

}

.mainContainerHeader,
.mainContainerSubheader {
    margin: 0 0 10px 0;
}

.mainContainerHeader {
    font-size: 250%;
}

.mainContainerSubheader {
    font-size: 175%;
}

.statusBox {

    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: var(--secondary-color);
    color: var(--text-color);
    width: calc(100% - 60px);
    height: 100px;
    border-radius: 15px;

    text-align: center;
    vertical-align: middle;
    line-height: 100px;

}

.connectScreenInputArea {

    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: var(--secondary-color);
    width: calc(100% - 60px);
    padding: 20px;
    box-sizing: border-box;
    border-radius: 15px;

}

.controlBox {

    position: fixed;
    bottom: calc(12.5% - 30px);
    left: 50%;
    transform: translate(-50%, 0);
    background-color: var(--primary-color);
    width: calc(75% + 60px);
    max-width: 800px;
    height: 75px;
    border-radius: 15px;
    padding: 15px;
    box-sizing: border-box;

}

.firstNameInput,
.lastNameInput {

    font-family: inherit;
    padding: 10px;
    margin: 0 20px 10px 0;
    width: 225px;
    border: 2px solid #AAAAAA;
    border-radius: 2px;
    color: var(--text-color);
    background-color: var(--primary-color);
    font-size: 75%;
    transition: all 0.1s ease;

}

.firstNameInput:focus,
.lastNameInput:focus {

    border: 2px solid #777777;
    outline: none;
    background-color: var(--secondary-color);
}

.connectScreenJoinButton {

    width: 100px;
    height: 35px;
    background-color: var(--primary-color);
    border-radius: 10px;
    border: 2px solid var(--primary-color);
    color: var(--text-color);
    box-sizing: border-box;
    transition: all 0.2s ease;

}
.connectScreenJoinButton:hover {

    background-color: var(--primary-button-hover-color);
    border-color: var(--primary-button-hover-color);

}
.connectScreenJoinButton:active {

    background-color: var(--secondary-color);
    color: var(--text-color);
    border: 2px solid #777777;

}
.connectScreenJoinButton:focus {
    outline: none;
}
.connectScreenJoinButton:disabled {
    background-color: var(--secondary-button-hover-color);
    border-color: var(--secondary-color);
}

.connectionInstructions {
    display: inline;
}

.copyLinkButton {

    background-color: transparent;
    margin-left: 10px;
    text-decoration: underline;
    color: dodgerblue;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    transition: all 0.1s ease;

}

.copyLinkButton:active {

    text-decoration: none;
    color: var(--text-color);

}

.armButton,
.jumpButton {

    width: 85%;
    height: 75%;
    background-color: var(--secondary-color);
    color: var(--text-color);
    border: none;
    border-radius: 10px;
    font-size: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: background-color 0.2s ease;

}
.armButton:hover,
.jumpButton:hover {

    background-color: var(--secondary-button-hover-color);

}

.armButton:active,
.jumpButton:active {

    color: var(--text-color);
    background-color: var(--primary-color);
    transition: background-color 0.1s ease;

}

.armButton:focus,
.jumpButton:focus {

    outline: none;

}

.overlay {

    background-color: black;
    cursor: pointer;
    opacity: 0;
    z-index: -100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition: opacity 0.4s ease;

}

.aboutScreen {

    position: absolute;
    left: 50%;
    top: 120%;
    transform: translate(-50%, 0);
    z-index: 100;
    background-color: var(--primary-color);
    width: 75%;
    max-width: 900px;
    padding: 50px;
    height: 90%;
    border-radius: 35px 35px 0 0;
    display: block;
    transition: transform 0.4s ease;

}

.aboutScreen > h1 {

    font-size: 300%;
    margin: 0 0 10px 0;

}

.aboutScreen > h2 {

    font-size: 150%;
    margin: 0 0 10px 0;

}

.closeButton {

    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    cursor: pointer;
    position: absolute;
    top: 50px;
    right: 45px;
    transition: background-color 0.2s ease;

}
.closeButton:hover {
    background-color: var(--primary-color);
}

.closeButton > img {

    width: 14px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.closeButtonImageDark {
    display: none;
}

.aboutScreenLink {

    position: absolute;
    bottom: 20px;
    left: 20px;
    text-decoration: none;
    cursor: pointer;

}

.aboutScreenLink:hover {

    text-decoration: underline;

}

.inputAreaNumberOfQuizzers {

    margin: 0 10px 10px 0;
    display: inline-block;

}

.jumpInstructions {
    display: none;
    margin: 0 0 7px 0;
}

.connectScreenInputAreaButton {
    
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    transition: all 0.2s ease;
    
}
.connectScreenInputAreaButton:hover {
    background-color: var(--primary-button-hover-color);
}
.connectScreenInputAreaButton:active {
    
    background-color: var(--secondary-color);
    outline: none;
    
}
.connectScreenInputAreaButton:focus {
    
    outline: none;
    
}

.alertBox {
    
    background-color: var(--primary-color);
    width: 550px;
    height: 175px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.4s;
    border-radius: 15px;
    padding: 50px;
    
}
.alertBoxTitle {
    
    font-size: 250%;
    margin: 0 0 15px 0;
    
}
.alertBoxMessage {
    
    font-size: 125%;
    margin: 0;
    
}